{
  "bot": {
    "token": "discordbottoken",
    "prefix": "!",
    "debug": true,
    "intents": [
      "guilds",
      "guildEmojis",
      "guildMembers",
      "guildMessages",
      "guildMessageReactions",
      "directMessages",
      "directMessageReactions"
    ]
  },
  "hemisd": {
    "port": 49165,
    "user": "hemis",
    "pass": "hemis"
  },
  "sandboxchannel": "#000000000000000000"
}
